*.iml
.gradle
.idea
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
/.kotlin/sessions/kotlin-compiler-8667640268290521530.salive
/composeApp/schemas/com.tiny.spending_tracker.database.ExpenseDatabase/1.json
/composeApp/schemas/com.tiny.spending_tracker.tracker.data.database.TrackerDatabase/1.json
/composeApp/schemas/com.tiny.spending_tracker.tracker.database.TrackerDatabase/1.json
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.annotation-annotation-1.8.1-commonMain-VdfbRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.annotation-annotation-1.8.1-nonJvmMain-VdfbRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.collection-collection-1.4.2-commonMain-GMwabQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.collection-collection-1.4.2-darwinMain-62QevQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.collection-collection-1.4.2-nativeMain-GMwabQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-common-2.7.0-alpha11-commonMain-ANh7DQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-common-2.7.0-alpha11-nativeMain-ANh7DQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-runtime-2.7.0-alpha11-commonMain-bG9DLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-runtime-2.7.0-alpha11-jvmNativeMain-bG9DLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.room-room-runtime-2.7.0-alpha11-nativeMain-bG9DLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-2.5.0-alpha11-commonMain-vuEFQA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-2.5.0-alpha11-nativeMain-vuEFQA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-bundled-2.5.0-alpha11-commonMain-9SUhcQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-bundled-2.5.0-alpha11-nativeMain-9SUhcQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/androidx.sqlite-sqlite-framework-2.5.0-alpha11-nativeMain-eHMSng.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrency-2.1.0-appleMain-oa7GPg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrency-2.1.0-commonMain-t1ZQYw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrency-2.1.0-nativeMain-t1ZQYw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-concurrent-collections-2.1.0-commonMain-jSCQOA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-strict-2.1.0-commonMain-dKdBGA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/co.touchlab-stately-strict-2.1.0-nativeMain-dKdBGA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-appleMain-RGnYqA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-commonMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-hashFunctions-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-nativeMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-nonJvmMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-systemFileSystemMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-unixMain-ha3VpQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/com.squareup.okio-okio-3.9.1-zlibMain-ha3VpQ.klib
/iosApp/iosApp.xcodeproj/project.xcworkspace/contents.xcworkspacedata
/iosApp/iosApp.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-3.0.0-rc02-commonMain-sISrLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-3.0.0-rc02-nonAndroidMain-sISrLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-compose-3.0.0-rc02-commonMain-79N8bA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-compose-core-3.0.0-rc02-commonMain-oC6XNA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-compose-core-3.0.0-rc02-nonAndroidMain-oC6XNA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.0-rc02-commonMain-VDyveQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.0-rc02-nativeMain-w6b6-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.0-rc02-nonAndroidMain-VDyveQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.0-rc02-nonJsCommonMain-VDyveQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-core-3.0.0-rc02-nonJvmCommonMain-VDyveQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-core-3.0.0-rc02-commonMain-d_IOrA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-core-3.0.0-rc02-nonAndroidMain-d_IOrA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor2-3.0.0-rc02-commonMain-abtaLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor2-3.0.0-rc02-nativeMain-9MOhAg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor2-3.0.0-rc02-nonJvmCommonMain-abtaLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor3-3.0.0-rc02-commonMain-PuhmSg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor3-3.0.0-rc02-nativeMain-R45fzA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.coil-kt.coil3-coil-network-ktor3-3.0.0-rc02-nonJvmCommonMain-PuhmSg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.insert-koin-koin-compose-4.0.0-commonMain-QYyzSQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.insert-koin-koin-compose-viewmodel-4.0.0-commonMain-Lzy-yA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.insert-koin-koin-core-4.0.0-commonMain-CvvNiA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.insert-koin-koin-core-4.0.0-nativeMain-CvvNiA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.insert-koin-koin-core-viewmodel-4.0.0-commonMain-H79fAg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-auth-3.0.0-commonMain-jKjAHA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.0.0-commonMain-u85MiA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-content-negotiation-3.0.0-posixMain-u85MiA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.0.0-commonMain-86YTPA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-core-3.0.0-posixMain-86YTPA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-darwin-3.0.0-darwinMain-N9dhng.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.0.0-commonMain-Ony_HA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-client-logging-3.0.0-posixMain-Ony_HA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-events-3.0.0-commonMain-um6hkw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.0.0-commonMain-s0lQng.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-http-3.0.0-posixMain-s0lQng.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.0.0-commonMain-2pQ2MQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.0.0-darwinMain-qJy_EQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-io-3.0.0-posixMain-2pQ2MQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-3.0.0-commonMain-tkHGZA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.0.0-commonMain-xFiJYA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-3.0.0-posixMain-xFiJYA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.0.0-commonMain-iBlTVA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-serialization-kotlinx-json-3.0.0-posixMain-iBlTVA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-sse-3.0.0-commonMain-GYvR-g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.0-commonMain-j8VvdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.0-darwinMain-Y_B_kg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.0-nixMain-j8VvdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-utils-3.0.0-posixMain-j8VvdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websocket-serialization-3.0.0-commonMain-kjocfQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.0.0-commonMain-tSaR_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/io.ktor-ktor-websockets-3.0.0-posixMain-tSaR_g.klib
/iosApp/iosApp.xcodeproj/xcshareddata/xcschemes/iosApp.xcscheme
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.core-core-bundle-1.0.1-commonMain-fXRodQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.core-core-bundle-1.0.1-jbMain-fXRodQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.core-core-bundle-1.0.1-nativeMain-fXRodQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-common-2.8.3-commonMain-FPlmfg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-common-2.8.3-nonJvmMain-FPlmfg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-2.8.3-commonMain-P_jWsA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-2.8.3-nativeMain-P_jWsA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-2.8.3-nonJvmMain-P_jWsA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-compose-2.8.3-commonMain-eB6IaQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-runtime-compose-2.8.3-nonAndroidMain-eB6IaQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-2.8.3-commonMain-I44vqw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-2.8.3-nativeMain-I44vqw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-2.8.3-nonJvmMain-I44vqw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-compose-2.8.2-commonMain-xCtrmg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-compose-2.8.2-jbMain-xCtrmg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-compose-2.8.2-nativeMain-BUGNNA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-savedstate-2.8.2-commonMain-nn5erw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.lifecycle-lifecycle-viewmodel-savedstate-2.8.2-jbMain-nn5erw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.8.0-alpha10-commonMain-Lmwwsg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.8.0-alpha10-darwinMain-QHo9ow.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.8.0-alpha10-jbMain-Lmwwsg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-common-2.8.0-alpha10-nativeMain-Lmwwsg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-compose-2.8.0-alpha10-commonMain-x_0rGg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-compose-2.8.0-alpha10-jbMain-x_0rGg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-compose-2.8.0-alpha10-nativeMain-SWLWRA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-runtime-2.8.0-alpha10-commonMain-CWmBjA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-runtime-2.8.0-alpha10-jbMain-CWmBjA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.navigation-navigation-runtime-2.8.0-alpha10-nonJvmMain-CWmBjA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.savedstate-savedstate-1.2.2-commonMain-rDkiiA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.androidx.savedstate-savedstate-1.2.2-nonJvmMain-rDkiiA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-1.7.0-commonMain-TojQLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-1.7.0-jsNativeMain-TojQLQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-1.7.0-nativeMain-RuOUtg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-commonMain-KAIxIA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-jbMain-KAIxIA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-jsNativeMain-KAIxIA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.animation-animation-core-1.7.0-uikitMain-uWuQcA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.annotation-internal-annotation-1.7.0-commonMain-BD0V2w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.annotation-internal-annotation-1.7.0-nonJvmMain-BD0V2w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.collection-internal-collection-1.7.0-commonMain-5apXgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.collection-internal-collection-1.7.0-jbMain-5apXgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.collection-internal-collection-1.7.0-jsNativeMain-5apXgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-blockingMain-Tn2Qyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-commonMain-Tn2Qyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-iosMain-mlvQUA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-nativeMain-mlvQUA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-resources-1.7.0-skikoMain-Tn2Qyw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.components-components-ui-tooling-preview-1.7.0-commonMain--i3iSw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-commonMain-Z4pWpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-darwinMain-qEodUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-jsNativeMain-Z4pWpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-nativeMain-qEodUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-skikoMain-Z4pWpg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-1.7.0-uikitMain-qEodUw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-commonMain-Nkt8ew.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-jsNativeMain-Nkt8ew.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-skikoMain-Nkt8ew.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.foundation-foundation-layout-1.7.0-uikitMain-GYqBaA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material3-material3-1.7.0-commonMain-HpF0Ww.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material3-material3-1.7.0-darwinMain-Kuw-mA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material3-material3-1.7.0-jsNativeMain-HpF0Ww.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material3-material3-1.7.0-nativeMain-Kuw-mA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material3-material3-1.7.0-nonJvmMain-HpF0Ww.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material3-material3-1.7.0-skikoMain-HpF0Ww.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-icons-core-1.7.0-commonMain-OY6u5w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-ripple-1.7.0-commonMain-hYj_-Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.material-material-ripple-1.7.0-jbMain-hYj_-Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-commonMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-darwinMain-bWTFyg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-jbMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-jsNativeMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-nativeMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-posixMain-9pDeVQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-1.7.0-uikitMain-bWTFyg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.runtime-runtime-saveable-1.7.0-commonMain-dToAUQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-commonMain-byxhLA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-darwinMain-yJ1uLw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-jsNativeMain-byxhLA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-nativeMain-yJ1uLw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-skikoMain-byxhLA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-1.7.0-uikitMain-yJ1uLw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-geometry-1.7.0-commonMain-CwQ9Eg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-commonMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-jsNativeMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-nativeMain-aqjVUg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-skikoExcludingWebMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-graphics-1.7.0-skikoMain-nWZcXg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-commonMain-22Ga_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-darwinMain-soKQsQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-jsNativeMain-22Ga_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-nativeMain-soKQsQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-text-1.7.0-skikoMain-22Ga_g.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-uikit-1.7.0-uikitMain-aNVDjg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-unit-1.7.0-commonMain-pR3KgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-unit-1.7.0-jbMain-pR3KgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-unit-1.7.0-jsNativeMain-pR3KgA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-util-1.7.0-commonMain-3-t5Ow.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-util-1.7.0-nonJvmMain-3-t5Ow.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.compose.ui-ui-util-1.7.0-uikitMain-V6MLCQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlin-kotlin-stdlib-2.0.21-commonMain-WPEnbA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.23.2-commonMain-yBS35w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-atomicfu-0.23.2-nativeMain-yBS35w.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-commonMain-ENDfhw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-concurrentMain-ENDfhw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-nativeDarwinMain-a-dA-A.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-coroutines-core-1.9.0-nativeMain-ENDfhw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-commonMain-v1Leig.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-darwinMain-O4UcJA.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-nativeMain-v1Leig.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-tzdbOnFilesystemMain-v1Leig.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-datetime-0.6.0-tzfileMain-v1Leig.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.5.4-appleMain-Pv9upw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.5.4-commonMain-ptgxIQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-bytestring-0.5.4-nativeMain-ptgxIQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.5.4-appleMain-BOEJjg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.5.4-commonMain-VZyyzw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.5.4-nativeMain-VZyyzw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-io-core-0.5.4-nativeNonAndroidMain-VZyyzw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.7.3-commonMain-s2qClw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-core-1.7.3-nativeMain-s2qClw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.7.3-commonMain-O4ZS7Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-1.7.3-nativeMain-O4ZS7Q.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.kotlinx-kotlinx-serialization-json-io-1.7.3-commonMain-w7DiNw.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-commonMain-7tIhOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-darwinMain-SvRtdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-iosMain-SvRtdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-nativeJsMain-7tIhOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-nativeMain-7tIhOQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/org.jetbrains.skiko-skiko-0.8.15-uikitMain-SvRtdQ.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/tech.annexflow.compose-constraintlayout-compose-multiplatform-0.5.0-alpha03-commonMain-4uunSg.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/tech.annexflow.compose-constraintlayout-compose-multiplatform-0.5.0-alpha03-nativeMain-awPoww.klib
/.kotlin/metadata/kotlinTransformedMetadataLibraries/tech.annexflow.compose-constraintlayout-compose-multiplatform-0.5.0-alpha03-nonAndroid-4uunSg.klib
